<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Didenko Svetlana | Product Designer</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/icons/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body data-page="home" class="body">
    <%= sidebar %> <%= mobileMenu %>
    <main class="main main-indx">
      <section class="section-case project_about-section">
        <h1 class="cases-text">Проекты</h1>
      </section>

      <section class="cases-grid">
        <a class="case-card case-card--large" href="design-system.html">
          <div class="case-card__image">
            <img src="./images/design-system-preview.png" alt="Дизайн-система" />
          </div>

          <div class="case-card__content">
            <h2 class="card__title">Дизайн-система для&nbsp;14&nbsp;продуктов компании</h2>
            <p class="case-card__meta">B2B / внутренние продукты</p>
          </div>
        </a>
        <a class="case-card case-card--wide" href="kcr-lo.html">
          <div class="case-card__image">
            <img src="./images/kcr-lo-preview.png" alt="КЦР ЛО" />
          </div>

          <div class="case-card__content">
            <h2 class="card__title">Приложение обработки обращений граждан</h2>
            <p class="case-card__meta">B2G / внутренние системы</p>
          </div>
        </a>
        <a class="case-card case-card--wide" href="hr-ai.html">
          <div class="case-card__image">
            <img src="./images/hr-ai-preview.png" alt="HR.AI" />
          </div>

          <div class="case-card__content">
            <h2 class="card__title">Cистема поиска и&nbsp;анализа кандидатов</h2>
            <p class="case-card__meta">B2B / внутренние продукты</p>
          </div>
        </a>

        <a class="case-card case-card--large" href="task-tracker.html">
          <div class="case-card__image">
            <img src="./images/task-tracker-preview.png" alt="Таск-трекер" />
          </div>

          <div class="case-card__content">
            <h2 class="card__title">Система управления задачами и&nbsp;командой</h2>
            <p class="case-card__meta">B2B enterprise SaaS</p>
          </div>
        </a>
      </section>
    </main>
  </body>
</html>
