@use "vars" as *;

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: $font-primary;
  color: $color-text-primary;
  background: $color-bg-primary;
}

.container {
  width: min(100% - 32px, $container-width);
  margin-inline: auto;
}

.page {
  min-height: 100vh;
  padding-left: 284px;
  background: #f5f5f5;
}
