$font-primary: "Manrope", sans-serif;
$font-secondary: "Fira Code", monospace;

$color-bg-primary: #f0f0f0;
$color-bg-secondary: #ffffff;
$color-text-primary: #1a1a1a;
$color-text-secondary: #808080;
$color-accent: #2b79ed;

$container-width: 1180px;
$transition: 0.2s ease;
